/* src/index.css */
body {
  font-family: "Comfortaa", sans-serif;
  background-color: #f8f9fa; /* optional: a light Bootstrap-like background */
  margin: 0;
  padding: 0;
}

* {
  font-family: "Comfortaa", sans-serif !important;
}

.custom-rays {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* pushes rays behind content */
}
